In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [3]:
df = pd.read_csv('youtubers_df_cleaned.csv')
df = df.reset_index()
df.head()

,index,Username,Categories,Suscribers,Country,Visits,Likes,Comments,Links
0,0,tseries,Music and Dance,249500000.0,India,86200.0,2700.0,78.0,http://youtube.com/channel/UCq-Fj5jknLsUf-MWSy...
1,1,MrBeast,"Video Games, Humor",183500000.0,United States,117400000.0,5300000.0,18500.0,http://youtube.com/channel/UCX6OQ3DkcsbYNE6H8u...
2,2,CoComelon,Education,165500000.0,Unknown,7000000.0,24700.0,0.0,http://youtube.com/channel/UCbCmjCuTUZos6Inko4...
3,3,SETIndia,Unknown,162600000.0,India,15600.0,166.0,9.0,http://youtube.com/channel/UCpEhnqL0y41EpW2TvW...
4,4,KidsDianaShow,"Animation, Toys",113500000.0,Unknown,3900000.0,12400.0,0.0,http://youtube.com/channel/UCk8GzjMOrta8yxDcKf...

In [4]:
# Combine important columns
def combine_features(data):
    features = []
    for i in range(0, data.shape[0]):
        features.append(data["Categories"][i] + " " + data["Country"][i])
    return features

In [5]:
df["combined_features"] = combine_features(df)

In [6]:
# Convert text from the new column to a matrix of word counts
cm = CountVectorizer().fit_transform(df["combined_features"])

In [7]:
# Get the cosine similarity matrix from the count matrix
cs = cosine_similarity(cm)

In [8]:
# Get a genre a user likes of the book the reader likes
youtuber = df["Username"][81]
youtuber

'LikeNastya_ESP'

In [9]:
# Find the index of the YouTuber the user likes
ytuber_id = df[df.Username == youtuber]["index"].values[0]
ytuber_id

81

In [10]:
# Create a list of tuples in the form (username, similarity score)
scores = list(enumerate(cs[ytuber_id]))

In [11]:
# Sort the list of similar books in descending order
sorted_scores = sorted(scores, key = lambda x:x[1], reverse = True)
sorted_scores = sorted_scores[1:]

In [13]:
def recommend(account):
    recommendations = []
    # Find the index of the YouTuber the user likes
    ytuber_id = df[df.Username == account]["index"].values[0]

    # Create a list of tuples in the form (username, similarity score)
    scores = list(enumerate(cs[ytuber_id]))

    # Sort the list of similar books in descending order
    sorted_scores = sorted(scores, key = lambda x:x[1], reverse = True)
    sorted_scores = sorted_scores[1:]

    # Exclude the account the user picked from the list of similar accounts
    for i in sorted_scores:
        if i[0] == ytuber_id:
            print(i)
            sorted_scores.remove(i)
    
    # Create a loop to print the first 5 most similar accounts
    print(f"The 5 most similar accounts to '{account}' are:\n ")
    
    j = 0
    for item in sorted_scores:
        accounts = df[df['index'] == item[0]]["Username"].values[0]
        recommendations.append(accounts)
        j = j+1
        if j >= 5:
            break

    return recommendations

In [14]:
for count, account in enumerate(recommend(df.Username[1])):
    print(str(count+1) + '. ' + account)

The 5 most similar accounts to 'MrBeast' are:

1. brentrivera
2. PrestonYT
3. rug
4. StokesTwins
5. BenAzelart